<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__left">
        <div class="copyright">
				<span class="copyright__descr">
					© 2017 RocketFiles. All rights reserved.
				</span>
        </div>
      </div>
      <div class="footer__right">
        <div class="logo">
          <a href="#" class="logo__link">
            <img class="logo__img" src="img/logo.svg" alt="Rocketfiles logo"/>
            <span class="logo__name">rocket</span>
            <span class="logo__name is-bold">files</span>
          </a>
        </div><!-- end logo -->
      </div>
    </div>
  </div>
</footer><!-- end footer -->